.footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(to right, #e4ecf3, #45cce1);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  